
/* Most content should be full screen. */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;

    --image-text-color: whitesmoke;
    --overlay-bg-color: rgba(211, 211, 211, 0.25);
    --overlay-z-index: 5;
    --overlay-border-radius: 5px;
}

body.image figure {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

body.image figure > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body.image figcaption {
    /*display: none;*/
    text-align: center;
    margin-top: 1em;
    color: var(--image-text-color);
    background-color: var(--overlay-bg-color);
    z-index: var(--overlay-z-index);
    margin-left: 6em;
    margin-right: 6em;
    padding: 0.5em;
    border-radius: var(--overlay-border-radius);
    position: fixed;
    bottom: 0.1em;
}

ul.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.images > li {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.images img {
    padding: 5px;
}

ul.images img:hover,
ul.directories img:hover {
    background: green;
}

ul.directories {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0;
    padding: 0;
}

img.directory-icon {
    width: 150px;
}

@media (max-width : 640px) {
    img.directory-icon {
        width: 100px;
    }
}

/* Navigation links on image pages. */

body.image nav.prevnext ul {
    z-index: var(--overlay-z-index);
    position: fixed;
    display: grid;
    grid-template-columns: 6em 1fr 6em;
    grid-template-areas: "prev up next";
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.image nav.prevnext li.prev-link-item {
    grid-area: prev;
    align-self: center;
}

body.image nav.prevnext li.next-link-item {
    grid-area: next;
    align-self: center;
    justify-self: right;
}

body.image nav.prevnext li.album-link-item {
    grid-area: up;
    justify-self: center;
    /* This causes a slight gap at the top of the link's background, which I'm not sure how to fix yet. */
    margin-top: 0.5em;
}

body.image nav.prevnext li {
}

body.image nav.prevnext a {
    background-color: var(--overlay-bg-color);
    border-radius: var(--overlay-border-radius);
    text-decoration: none;
    color: var(--image-text-color);
}

body.image nav.prevnext a:hover {
    background-color: var(--overlay-bg-color);
}

body.image nav.prevnext a.next-link,
body.image nav.prevnext a.prev-link {
    padding-top: 50vh;
    padding-bottom: 50vh;
}

body.image nav.prevnext a.album-link {
    padding: 5px;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Prev/Next link bar on directory pages */

body.directory nav.prevnext > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* Albums have only one link, so center it. */
body.directory nav.prevnext > ul {
    justify-content: center;
}

body.directory nav.prevnext a {
    text-decoration: none;
    color: blue;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
}

a.prev-link:before {
    content: '< ';
}
a.album-link:before {
    content: '^ ';
}
a.next-link:after {
    content: ' >';
}

