
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

figure {
    display: grid;
    height: 100%;
}

figure img {
    max-width: 100%;
    max-height: calc(100vh - 3em);
    margin: auto;
}

figcaption {
    text-align: center;
    margin-top: 1em;
}

ul.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.images > li {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.images img {
    padding: 5px;
}

ul.images img:hover,
ul.directories img:hover {
    background: green;
}

ul.directories {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

img.directory-icon {
    width: 150px;
}

@media (max-width : 640px) {
    img.directory-icon {
        width: 100px;
    }
}

/* Prev/Next link bar */

nav.prevnext > ul {
    list-style: none;
    display: flex;
    /* This will get overridden for the listing pages. */
    justify-content: space-between;
}

nav.prevnext a {
    text-decoration: none;
    color: blue;
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px;
}

a.prev-link:before {
    content: '< ';
}
a.album-link:before {
    content: '^ ';
}
a.next-link:after {
    content: ' >';
}

